// Vars and mixin file
@import "vars.scss";
// Comment before production
@import "../../css/main";

.mnv-<%= ns %> {
  // Write you css inside this namespace so they will not conflict with other css
  background: #f1f1f1;
  padding: $spacer;
  margin: $spacer*2;
  ul {
    padding-top: $spacer;
    li {
      margin-bottom: $spacer;
      border-bottom: solid 1px #CCC;
    }    
  } 
}

// Code below just for example
// Sprite (Prev buttons example)
// .prev {
//   // Use the sprite
//   @include ec-slideshow-sprite();
//   // Posizioning the sprite
//   background-position: -38px -22px;
// }
// ---------------------------
// respond-to mixin example
// li {
//   display: inline-block;
//   @include respond-to('mobilePortrait'){
//     display: inline-block;
//   }
//   @include respond-to('mobileLandscape','lowResolution'){
//     display: block;
//     height: 60px;
//     margin-bottom: $spacer;
//   }
// }