<!doctype html>
<!--[if IE 8]>         <html class="ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title><%= _.capitalize(projectName) %></title>
    <script src="http://cdn.static-economist.com/sites/all/modules/jquery_update/replace/jquery.min.js"></script>
    <script src="../../js/lib/handlebars.runtime.js"></script>
    <script src="../../js/lib/highcharts.js"></script>
    <script src="../../js/lib/d3.js"></script>
    <script src="../../js/lib/underscore-min.js"></script>
    <script src="../../js/lib/backbone.js"></script>
    <script src="../../js/lib/modernizr.js"></script>
    <script src="../../js/lib/raphael.js"></script>
    <link rel="stylesheet" href="http://cdn.static-economist.com/sites/all/themes/econfinal/styles/reset.css">

    <!-- build:js js/init.min.js -->
    <script src="../../js/minerva-lib.js"></script>
    <script src="js/tpl/template.js"></script>
    <script src="js/init.js"></script>
    <!-- endbuild -->
    
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    Ready to rock n' roll!
  </body>
</html>